@import '../../sass/global.scss';

.Users {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 2rem;

    table {
        margin-top: 2rem;
        width: 100%;
        -webkit-box-shadow: 1px 5px 10px 0px rgba(0, 0, 0, 0.384);
        -moz-box-shadow: 1px 5px 10px 0px rgba(0, 0, 0, 0.384);
        box-shadow: 1px 5px 10px 0px rgba(0, 0, 0, 0.384);
        overflow-x: scroll;
    }

    th,
    td {
        border: 1px solid #ddd;
        padding: 8px;
        font-size: 1.5rem;
    }

    & tr:nth-child(even) {
        background-color: #f2f2f2
    }

    tr:hover {
        background-color: #ddd;
    }

    th {
        padding-top: 12px;
        padding-bottom: 12px;
        text-align: center;
        background-color: $purple;
        color: white;
    }

    .actions {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;

        button {
            background-color: $purple;
            border: none;
            padding: 1rem 2rem;
            color: white;
            border-radius: 2rem;
            cursor: pointer;
            transition: .2s all;
            margin-bottom: 1rem;

            &:disabled {
                background-color: rgb(156, 156, 156);
                cursor: default;
            }

            &:disabled:hover {
                color: white;
                background-color: rgb(156, 156, 156);
            }

            &:hover {
                background-color: white;
                color: $purple;
            }
        }

        .red {
            background-color: rgb(238, 61, 61);
        }
    }
}

.pagination{
    margin-top: 2rem;

    &__list{
        display: flex;
        justify-content: space-between;
        list-style: none;


        &__item{
            margin: 0 .4rem;
            border: 1px solid $purple;
            padding: .3rem .6rem;
            text-decoration: none;
            font-size: 1.2rem;
            color: $purple;

            &__active{
                background-color: $purple;
                color: white;
            }
        }
    }
}

.csv{
        background-color: white;
        border: 1px solid $purple;
        padding: 1rem 2rem;
        color: $purple;
        border-radius: 2rem;
        cursor: pointer;
        transition: .2s all;

        &:hover {
            background-color: $purple;
            color: white;
        }
}